body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111111;
    color: white;
    text-align: center;
}

/* Pantalla inicial */
.pantalla-inicial {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.gif-portada {
    width: 280px;
    max-width: 90%;
    border-radius: 20px;
}

.pantalla-inicial h1 {
    color: #69b7ff;
    font-size: 2.5rem;
}

#btnAbrir {
    background: #ffee8c;
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.2s ease;
}

#btnAbrir:hover {
    transform: scale(1.05);
    background: #69b7ff;
}

/* Contenido principal */
#contenido {
    padding: 60px 20px;
}

.oculto {
    display: none;
}

/* Primera sección */

.principal{
    max-width:900px;
    margin:auto;
    padding:60px 20px;
}

.principal h1{
    color:#69b7ff;
    font-size:3rem;
    margin-bottom:40px;
}

.foto-principal{
    width:120px;
    max-width:90%;
    border-radius:20px;
    border:2px solid #69b7ff;
    box-shadow:0 0 20px rgba(105,183,255,.25);
}

.mensaje{
    margin-top:35px;
    font-size:1.15rem;
    line-height:1.8;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
}
