body {
    margin: 0;
    font-family: 'Crafty Girls', cursive;
    background: #111111;
    color: white;
    text-align: center;
}

/* Pantalla inicial */
.pantalla-inicial {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.gif-portada {
    width: 280px;
    max-width: 90%;
    border-radius: 20px;
}

.pantalla-inicial h1 {
    color: #69b7ff;
    font-size: 3.2rem;
    margin: 10px 0;
}

/* Botón */
#btnAbrir {
    background: #ffee8c;
    color: black;
    border: none;
    padding: 14px 28px;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.2s ease;
}

#btnAbrir:hover {
    transform: scale(1.05);
    background: #b52a2a;
}

/* Contenido principal */
#contenido {
    padding: 60px 20px;
}

.oculto {
    display: none;
}

/* Primera sección */
.principal h1 {
    color: #69b7ff;
    font-size: 2.3rem;
    margin-bottom: 40px;
}

.foto-principal {
    width: 200px;
    max-width: 90%;
    box-shadow: 0 0 20px rgba(105, 183, 255, 0.25);
}

.mensaje {
    margin-top: 35px;
    font-size: 1.15rem;
    line-height: 1.8;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* Galería de fotos */

.galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.galeria img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 2px solid #69b7ff;
    border-radius: 15px;
    box-sizing: border-box;
    display: block;
}

.galeria img:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

/* COLLAGE */

.collage{
    display: grid;
    grid-template-columns: repeat(2, 170px);
    justify-content: center;
    align-items: center;
    gap: 35px 80px;
    margin: 70px auto;
    max-width: 650px;
}

.corazon{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease;
}

.corazon img{
    width: 170px;
    height: 170px;
    object-fit: contain;
    display: block;
}

.corazon:hover{
    transform: scale(1.05);
}

.centro{
    grid-column: 1 / 3;
    justify-self: center;

    width: 210px;
    height: 210px;

    object-fit: cover;

    border: 2px solid #69b7ff;
    border-radius: 20px;

    transition: transform .3s ease;
}

.centro:hover{
    transform: scale(1.05);
}
